<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      Edit post
    </div>
    <div class="panel-body">
      <form (ngSubmit)="onUpdate(f)" #f="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" class="form-control" [(ngModel)]="post.title">
        </div>
        <div class="form-group">
          <label for="text">Text</label>
          <textarea  type="textarea" name="text" id="text" class="form-control" [(ngModel)]="post.text"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success"
                  name="button" [disabled]="!f.valid">Update post</button>
        </div>
      </form>
    </div>
  </div>
</div>