.add-button-top {
    margin-top: -35px;
}/* You can add global styles to this file, and also import other style files */
.after {
    margin-top: 70px;
}

.side-form {
    position: absolute;
    z-index: 100;
    background: #fff;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    padding: 20px;
    border-left: 1px solid #0e0e0e;
}