
.home {
    background-image: url(http://www.medicalwebdesigns.co.uk/images/medical-web-designs.jpg);
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*height: 500px;*/
    height: 100vh;
    min-height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #42b3e5;
    text-align: center;

}


#text{

    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}



